{% load bootstrap3 %}
{% load staticfiles %}

<script src="{% static "js/jquery.js" %}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<div class="container theme-showcase" role="main">
<div class="jumbotron">
  Welcome!
</div>

{% bootstrap_css %}
{% if games %}

<table>
    <thead>
        <tr>
            <th data-column-id="name">T</th>
            <th data-column-id="location">Location</th>
            <th data-column-id="comment">Comment</th>
        </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr>
        <td><a href="/game/{{ game.id }}/">{{ game.name }}</a></td>
        <td>{{game.location}}</td>
        <td>{{game.comment}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<p>No games are available.</p>
{% endif %}
</div>
<script src="{% static "js/init.js" %}"></script>
